.node {
    position: absolute;
    border: 1px solid black;
    padding: 16px;
}

.input {
    display: flex;
    align-items: center;
}

.socket {
    width: 6px;
    height: 6px;
    position: absolute;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    margin-left: -32px;
}

.outputs {
    text-align: right;
}